{% extends 'base.jinja2' %}
{% block title %}
   Index 
{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block body %}
   <h1>Hello, World!</h1> 
{% endblock %}